In [64]:
import numpy as np
import pandas as pd
from pathlib import Path
import hvplot.pandas
%matplotlib inline
import warnings

import statsmodels.api as sm
from statsmodels.tsa.arima_model import ARMA

In [9]:
# Futures contract on the Yen-dollar exchange rate:
# This is the continuous chain of the futures contracts that are 1 month to expiration
yen_futures = pd.read_csv(
    Path("yen.csv"), index_col="Date", infer_datetime_format=True, parse_dates=True
)
yen_futures = yen_futures.loc["1990-01-01":, :]
yen_futures.head()

,Open,High,Low,Last,Change,Settle,Volume,Previous Day Open Interest
Date,,,,,,,,
1990-01-02,6954.0,6954.0,6835.0,6847.0,NaN,6847.0,48336.0,51473.0
1990-01-03,6877.0,6910.0,6865.0,6887.0,NaN,6887.0,38206.0,53860.0
1990-01-04,6937.0,7030.0,6924.0,7008.0,NaN,7008.0,49649.0,55699.0
1990-01-05,6952.0,6985.0,6942.0,6950.0,NaN,6950.0,29944.0,53111.0
1990-01-08,6936.0,6972.0,6936.0,6959.0,NaN,6959.0,19763.0,52072.0

In [10]:
returns = (yen_futures[["Settle"]].pct_change() * 100)
returns = returns.replace(-np.inf, np.nan).dropna()

In [21]:
model = ARMA(returns.Settle, order=(2,1)).fit(disp=False)

C:\Users\Emili\Anaconda3\lib\site-packages\statsmodels\tsa\base\tsa_model.py:219: ValueWarning: A date index has been provided, but it has no associated frequency information and so will be ignored when e.g. forecasting.
  ' ignored when e.g. forecasting.', ValueWarning)

In [124]:
# A Python program to print all  
# permutations of given length 
import itertools
from itertools import permutations 

# Get all permutations of length 2 
for i in itertools.product([0, 1, 2], repeat=2):
    try:
        model = sm.tsa.ARMA(returns.Settle, order = i).fit() 
        AIC = model.aic
        warnings.filterwarnings("ignore")
    except ValueError: 
        pass
    print(i, AIC)

(0, 0) 15793.169662980363
(0, 1) 15794.159996161903
(0, 2) 15796.157353643464
(1, 0) 15794.160994726924
(1, 1) 15794.798132506303
(1, 2) 15794.798132506303
(2, 0) 15796.159729017496
(2, 1) 15798.142345645963
(2, 2) 15798.142345645963

In [123]:
for i in itertools.product([0, 1, 2], repeat=2):
    try:
        model = sm.tsa.ARMA(returns.Settle, order = i).fit() 
        BIC = model.bic
        warnings.filterwarnings("ignore")
    except ValueError: 
        pass
    
    print(i, BIC)

(0, 0) 15807.01870943263
(0, 1) 15814.933565840305
(0, 2) 15823.855446548
(1, 0) 15814.934564405326
(1, 1) 15822.496225410838
(1, 2) 15822.496225410838
(2, 0) 15823.85782192203
(2, 1) 15832.764961776633
(2, 2) 15832.764961776633

In [134]:
# running ljung-box (if p-value (second umber) is greater than .05 then that ARMA(p,q) provides a doos fit. below .05 no good)
model = sm.tsa.ARMA(returns.Settle, order = (2,1)).fit() 
sm.stats.acorr_ljungbox(model.resid, lags=[10])

(array([9.55718715]), array([0.48016225]))